<ion-content [fullscreen]="true">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item><a href="/inicio">Iniciar Sesión</a></ion-item>
        <ion-item><a href="/asignaturas">Mis Asignaturas</a></ion-item>
        <ion-item><a href="/asistencia">Mis Asistencias</a></ion-item>
        <ion-item><a href="/registro">Registro Asistencia</a></ion-item>
        <ion-item><a href="/clave">Cambiar Clave</a></ion-item>
      </ion-list>
      <h6><ion-icon name="log-in"></ion-icon> Cerrar Sesión</h6>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h1 class="ion-text-center">Mis Asignaturas</h1>
      <h6>Estudiante: Usuario1</h6>
      <ion-list>
        <ion-item *ngFor="let asignatura of asignaturas">
          <ion-label>{{ asignatura.seccion }}</ion-label>
          <ion-label>{{ asignatura.asignatura }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">&copy; Copyright 2024</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
