#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgba(255, 255, 18, 0.786);
}

.color-registr {
  color:white;
}
.color-app {
  color: rgb(255, 255, 18);
}

.custom-toolbar {
  --background: rgb(31, 31, 210);
}