<ion-content [fullscreen]="true">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item><a href="/inicio">Iniciar Sesión</a></ion-item>
        <ion-item><a href="/asignaturas">Mis Asignaturas</a></ion-item>
        <ion-item><a href="/asistencia">Mis Asistencias</a></ion-item>
        <ion-item><a href="/registro">Registro Asistencia</a></ion-item>
        <ion-item><a href="/clave">Cambiar Clave</a></ion-item>
      </ion-list>
      <h6><ion-icon name="log-in"></ion-icon> Cerrar Sesión</h6>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>RegistraAPP</ion-title>
        <ion-buttons slot="end">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h1 class="ion-text-center">Inicio de Sesión</h1>
      <div>
        <ion-input type="text" placeholder="Usuario" labelPlacement="fixes" [(ngModel)]="user"></ion-input>
        <ion-input type="password" placeholder="Contraseña" labelPlacement="fixes" [(ngModel)]="password"></ion-input>
        <ion-button expand="block" (click)="iniciar_sesion()">Iniciar Sesión</ion-button>
        <h6 class="ion-text-center"><a (click)="enviar_correo()">Recuperar Contraseña</a></h6>
      </div>
    </ion-content>
  </div>
</ion-content>
