<ion-content [fullscreen]="true">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item><a href="/inicio">Iniciar Sesión</a></ion-item>
        <ion-item><a href="/asignaturas">Mis Asignaturas</a></ion-item>
        <ion-item><a href="/asistencia">Mis Asistencias</a></ion-item>
        <ion-item><a href="/registro">Registro Asistencia</a></ion-item>
        <ion-item><a href="/clave">Cambiar Clave</a></ion-item>
      </ion-list>
      <h6><ion-icon name="log-in"></ion-icon><a href="/inicio" style="text-decoration: none;">Cerrar Sesión</a></h6>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar class="custom-toolbar">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title><span class="color-registr">Registr</span> <span class="color-app">APP</span></ion-title>
        <ion-buttons slot="end">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h1 class="ion-text-center">Registro de Asistencia</h1>
      <ion-card>
        <div class="ion-text-center">
          <img class="card-image" src="/assets/img/qr.jpg"/>
        </div>
      </ion-card>
    </ion-content>
  </div>
</ion-content>
